In [12]:
# Que(1) :- 
list_of_tuples = [(3,'Sachin Tendulkar', 34357), (1,'Ricky Ponting', 27483), (5,'Jack Kallis', 25534), (7,'Virat Kohli', 24936)]

In [13]:
list_of_tuples.sort()
list_of_tuples

[(1, 'Ricky Ponting', 27483),
 (3, 'Sachin Tendulkar', 34357),
 (5, 'Jack Kallis', 25534),
 (7, 'Virat Kohli', 24936)]

In [16]:
# list can be sorted by any basis either by number or any collection 
list_of_tuples.sort(key = lambda x : x[1])
list_of_tuples

[(5, 'Jack Kallis', 25534),
 (1, 'Ricky Ponting', 27483),
 (3, 'Sachin Tendulkar', 34357),
 (7, 'Virat Kohli', 24936)]

In [20]:
# Que(2):-
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def square_of_num(x):
    return x**2
# square_of_num(5)

In [21]:
l2 = list(map(square_of_num,l))

In [22]:
l2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
# Que(3):- program to convert a list into tuple 
l = [1,2,3,4,5,6,7,8,9,10]
a = lambda x:str(x)
l2 = tuple(map(a,l))
l2

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [47]:
# Que(4):- 
l = []
for i in range(1,26):
    l.append(i)
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [48]:
from functools import reduce
prod = (reduce(lambda x,y :x*y,l))
prod

15511210043330985984000000

In [20]:
#Que(5):-
l3 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
l4 = list(filter(lambda x : x%2 == 0 and x%3 == 0,l3))
l4

[6, 60, 90, 120]

In [24]:
# Que(6):-

def palindrome(x):
    i = 0
    j = len(x)-1
    while i < j :
        if x[i] != x[j]:
            return False 
        return True

In [ ]:
l5 = ['python', 'php', 'aba', 'radar', 'level']
l